pandas
beautifulsoup4
yfinance
fredapi
requests
streamlit
plotly
pytz
streamlit-autorefresh
beautifulsoup4
uvicorn
fastapi
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
alembic
psycopg2-binary
st-annotated-text
st-theme
